@{
    ViewBag.Title = "Contact";
    //Layout = "~/Views/Shared/_MainNavLayout_ClassAct.cshtml";

    if (Session["person"] != null)
    {
        // logged in
        Layout = "~/Views/Shared/_UserNavLayout_ClassAct.cshtml";

    }
    else
    {
        // not logged in
        Layout = "~/Views/Shared/_MainNavLayout_White_ClassAct.cshtml";
    }
}
<!-- CATEGORY LIST SECTION -->

<section class="clerfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <div class="resultBar barSpaceAdjust">
                    <h2>We found <span>8</span> Results for you</h2>
                    <ul class="list-inline">
                        <li><a href="category-list-full.html"><i class="fa fa-th" aria-hidden="true"></i></a></li>
                        <li class="active"><a href="category-list-left.html"><i class="fa fa-th-list" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="listContent">
                    <div class="row">
                        <div class="col-sm-5 col-xs-12">
                            <div class="categoryImage">
                                <img src="~/Template/Static HTML/img/things/things-1.jpg" alt="Image category" class="img-responsive img-rounded">
                                @*<span class="label label-primary">Verified</span>*@
                            </div>
                        </div>
                        <div class="col-sm-7 col-xs-12">
                            <div class="categoryDetails">
                                <ul class="list-inline rating">
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                </ul>
                                <h2><a href="blog-details.html" style="color: #222222">Bob's Burgers</a> <span class="likeCount"><i class="fa fa-heart-o" aria-hidden="true"></i> 10 k</span></h2>
                                <p>1569 College Ave. <span class="placeName">Appleton</span></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt  labore et dolore magna aliqua. </p>
                                @*<ul class="list-inline list-tag">
                                    <li><a href="category-list-full.html">Hotel,</a></li>
                                    <li><a href="category-list-full.html">Restaurant</a></li>
                                </ul>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="listContent borderRemove">
                    <div class="row">
                        <div class="col-sm-5 col-xs-12">
                            <div class="categoryImage">
                                <img src="~/Template/Static HTML/img/things/things-2.jpg" alt="Image category" class="img-responsive img-rounded">
                            </div>
                        </div>
                        <div class="col-sm-7 col-xs-12">
                            <div class="categoryDetails">
                                <h2><a href="blog-details.html" style="color: #222222">Big John's Eats</a> <span class="likeCount"><i class="fa fa-heart-o" aria-hidden="true"></i> 10 k</span></h2>
                                <p>1689 Wisconsin Ave. <span class="placeName">Appleton</span></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt  labore et dolore magna aliqua. </p>
                                @*<ul class="list-inline list-tag">
                                    <li><a href="category-list-full.html">Hotel,</a></li>
                                    <li><a href="category-list-full.html">Restaurant</a></li>
                                </ul>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="paginationCommon blogPagination categoryPagination">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                                </a>
                            </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="sidebarInner sidebarCategory">
                    <div class="panel panel-default">
                        <div class="panel-heading">Find Restaurants</div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Location" aria-describedby="basic-addon2">
                            <a href="#" class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebarInner sidebarCategory">
                    <div class="panel panel-default">
                        <div class="panel-heading">Related Categories</div>
                        <div class="panel-body">
                            <ul class="list-unstyle categoryList">
                                <li><a href="#">Fast food</a></li>
                                <li><a href="#">Chinese restaurants</a></li>
                                <li><a href="#">Creole restaurants</a></li>
                                <li><a href="#">Seafood</a></li>
                                <li><a href="#">Thai restaurants</a></li>
                                <li><a href="#">Street food</a></li>
                                <li><a href="#">Japanese restaurants</a></li>
                                <li><a href="#">Greek restaurants</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>