<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassAct.Website.PL.Properties.Settings.ClassActDBConnectionString"
            connectionString="Data Source=classactserver.database.windows.net;Initial Catalog=ClassActDB;User ID=ClassActAmin;Password=FvtcProject#1;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>